html,
body {
	height: 100vh;
	overflow-x: hidden;
}

a {
	cursor: pointer;
}

body {
	color: $black;
	@extend %text-font;
	font-size: 16px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: 'Montserrat';
}

.main {
	flex: 1 0 auto;
}

footer {
	background: $black;
	flex: 0 0 auto;
	color: $white;
	a {
		color: $white;
	}
}

.footer__block {
	width: 1440px;
	padding: 60px 120px;
	margin: 0 auto;
	&-copyright {
		width: 1440px;
		padding: 30px 120px;
		margin: 0 auto;
	}
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 60px 120px;
}

.link-btn {
	padding: 14px 20px;
	border-radius: 7px;
	color: $white;
	position: relative;
   font-weight: 600;
   text-transform: uppercase;
	font-size: 14px;
}

.burger, 
.close  {
	display: none;
}

h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	font-family: Verdana;
	color: $white;
}

h2 {
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px; 
	color: $white;
	width: 790px;
}

h3 {
	color: $orange;
	font-family: Verdana;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 70px;
}