html,
body {
	height: 100vh;
	overflow-x: hidden;
}

a {
	cursor: pointer;
}

body {
	color: $black;
	@extend %text-font;
	font-size: 16px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: 'Montserrat';
}

.main {
	flex: 1 0 auto;
}

footer {
	background: $black;
	flex: 0 0 auto;
	color: $white;
	a {
		color: $white;
	}
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.link-btn {
	padding: 14px 20px;
	color: $white;
	position: relative;
	@extend %title-font;
	font-size: 14px;
}

.burger, 
.close  {
	display: none;
}


